* {
  margin: 20px;
}
body {
  font-family: "Source Code Pro", monospace;
  background-color: F8F8F;
}
.header {
  text-align: center;
  font-size: 40px;
}
.header-secondary {
  text-align: center;
  font-size: 28px;
  margin: 30px;
}
.header-secondary-left {
  text-align: center;
  font-size: 28px;
  margin: 30px;
  margin-left: 35%;
}
.header-secondary-right {
  text-align: left;
  font-size: 28px;
  margin: 30px;
  margin-left: 10%;
}
img {
  width: 30%;
}
ul li {
  font-size: 20px;
  line-height: 32px;
}
.container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.description {
  text-align: center;
  font-size: 20px;
  line-height: 32px;
}

